/*  -- Arquivo de Estilizacao Base do Projeto! --  */


/*  Importando fonte localmente  */
@font-face {
  font-family: "VCR OSD Mono";
  src: url("../assets/VCR-OSD-Mono.ttf");
}


/*  Estilo geral  */
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "VCR OSD Mono", system-ui, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  transition: 200ms all;
}



body {
  background-color: #f2f2f2;
  background-image: url("../assets/bg_effect.png");
  width: 100vw;
}

.header {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_Navbar {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_Navbar__Title {
  font-size: 3.25rem;
  color: #FFDE00;
  text-shadow: 3px -3px #2c2c2c, -3px -3px #2c2c2c, -3px 3px #2c2c2c, -3px -3px #2c2c2c, 3px 3px #2c2c2c;
}
.header_Navbar__List {
  height: 50%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_Navbar__List-Link {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333;
  text-decoration: solid underline 4px #2c2c2c; 
}
.header_Navbar__List-Link:hover {
  text-decoration: solid underline 5px #ffde00;
  color: #2c2c2c;
  font-size: 1.125rem;
}
#linkUser img {
  height: 80%;
}
#linkUser img:hover {
  height: 100%;
}
